<header class="border-b border-color-gray200 mb-6">
  <div class="flex mb-4 text-center justify-between">
    <% title = folder.present? ? folder.name : 'レシピ' %>
    <div class="flex items-center">
      <h1 class="text-2xl"><%= title %></h1>
    </div>
    <div>
      <%= search_form_for @q, url: recipes_path(folder_id: params[:folder_id]), method: :get do |f| %>
        <%= f.search_field :name_cont, class: 'w-full bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out', placeholder: 'レシピを検索' %>
        <%= hidden_field_tag :folder_id, params[:folder_id] %>
      <% end %>
    </div>
  </div>
</header>
