<div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
  <% if thumbnail.present? %>
    <%= image_tag url_for(thumbnail), class: 'lg:h-48 md:h-36 w-full object-cover object-center' %>
  <% else %>
    <img class="lg:h-48 md:h-36 w-3/4 mx-auto object-cover object-center" src="https://3.bp.blogspot.com/-fRi465qB0PU/WWNAjw1nHBI/AAAAAAABFUc/qRqCiP3QlM87_Qvi8souFa3x81ZaHJOJACLcBGAs/s800/food_dish_blank.png">
  <% end %>
  <div class="px-6 py-5">
    <h1 class="title-font text-lg font-medium text-gray-900"><%= title %></h1>
  </div>
</div>
