<div class="fixed inset-0 flex items-center justify-center z-50 flex hidden" data-modal-target="modal">
  <div class="w-screen h-screen bg-white">
    <%= turbo_frame_tag 'full-modal' %>
  </div>
</div>
