<div class="fixed inset-1/4 flex justify-center my-20 hidden z-50" data-loading-target="loading">
  <div class="animate-spin h-10 w-10 border-4 border-blue-500 rounded-full" style="border-top-color: transparent"></div>
</div>
